{% extends 'base.html.twig' %}

{% block title %}FoodDonationItem{% endblock %}

{% block body %}
    <h1>FoodDonationItem</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Donation_event_id</th>
                <td>{{ food_donation_item.donationEventId }}</td>
            </tr>
            <tr>
                <th>Item_id</th>
                <td>{{ food_donation_item.itemId }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ food_donation_item.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_food_donation_item_index') }}">back to list</a>

    <a href="{{ path('app_food_donation_item_edit', {'donation_event_id': food_donation_item.donation_event_id}) }}">edit</a>

    {{ include('food_donation_item/_delete_form.html.twig') }}
{% endblock %}
