{{ form_start(form, {'attr': {'class': 'admin-form'}}) }}
    {% for field in form %}
        {% if field.vars.name != '_token' %}
        <div class="form-group">
            {{ form_label(field) }}
            {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(field) }}
        </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="form-submit">{{ button_label|default('Save Delivery Man') }}</button>
{{ form_end(form) }}
