{% extends 'base.html.twig' %}

{% block title %}Dish index{% endblock %}

{% block body %}
    <h1>Dish index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Base_price</th>
                <th>Available</th>
                <th>Stock_quantity</th>
                <th>Image_url</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dish in dishes %}
            <tr>
                <td>{{ dish.id }}</td>
                <td>{{ dish.name }}</td>
                <td>{{ dish.description }}</td>
                <td>{{ dish.basePrice }}</td>
                <td>{{ dish.available ? 'Yes' : 'No' }}</td>
                <td>{{ dish.stockQuantity }}</td>
                <td>{{ dish.imageUrl }}</td>
                <td>{{ dish.createdAt ? dish.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ dish.updatedAt ? dish.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_dish_show', {'id': dish.id}) }}">show</a>
                    <a href="{{ path('app_dish_edit', {'id': dish.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dish_new') }}">Create new</a>
{% endblock %}
